.section-speсial__wrap>* {
  position: relative;
  z-index: 1;
}

.section-speсial__wrap {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 260px 56px 30px 40px;
  max-width: 590px;
  max-height: 540px;
  border-radius: 12px;
  background-image: url(../img/special_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-speсial__wrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-image: url(../img/special_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(-100%);
  /* transition: transform .5s linear; */
  transition-delay: 1.5s;
}

.section-speсial__wrap::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 12px;
  background-image: url(../img/special_3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(100%);
  /* transition: transform .5s linear; */
  transition-delay: 3s;
}

.section-speсial__wrap:hover::before, .section-speсial__wrap:hover::after {
  transform: none;
}

.section-speсial__sub-title {
  margin-bottom: 33px;
  font-size: 66px;
  line-height: 58px;
  font-weight: 700;
  color: var(--back-fon);
  /* word-break: normal;
  /* перенос слов*/
}

.sub-descr__price {
  margin-right: 37px;
  opacity: 0.5;
  font-size: 35px;
  color: var(--back-fon);
}

.sub-descr__link {
  transform-origin: 100% 0%;
  transition: transform .2s ease, color .5s ease;
  color: var(--color-link);
}

.sub-descr__link::after {
  content: "\f105";
  display: inline-block;
  margin-left: 6px;
  transform: translateY(4px);
  font-family: FontAwesome;
  font-size: 26px;
}

.sub-descr__link:hover {
  transform: scale(1.1 1.1);
  color: var(--java);
  text-decoration: underline;
}
